*{
  margin:0;
  padding:0;
  font-family: sans-serif;
  }
  .banner{
  width:100%;
  height:120vh;
  background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(mo.jpg);
  background-size:cover;
  background-position:center;
}
#content{
font-size: 150%;
    margin: 5px;
    color:#fff;
    top: 0;
    left: 0;
    width:100%;
    padding:500px;
    text-align: center;

}
.PUBLICIZE{
    text-align: center;
    font-size: 2em;
    color:#fff;
    user-select: none;
    text-align: left;
}
.dropdown{
    display: inline-block;
    position: relative;

}
.a{
  width: 100%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
align-items:center;
justify-content:space-between;

}
.navbar a{
    border: 10px;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
}
.navbar a:hover{
    background-color:#000;
}
.dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
    background-color:#000;
    border-radius:5px;
    box-shadow:none;
    background: transparent;
  }
  .dropdown:hover .dropdown-options {
    display: block;
  }
  .dropdown-options a {
    display: block;
    color: #fff;
    padding: 5px;
    text-decoration: none;
    padding:20px 40px;
  }
  .dropdown-options a:hover {
    color: white;
    background-color:#000 ;
    border-radius:5px;
  }

.button{
    padding: 50px;
    margin: 20px;

}
.navigation a{
    position: relative;
    font-size: 1.1em;
    color:#fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.image{
    height: auto;
    width: 100px;
}
#container{
    color:#fff;
    padding: 1000;
    margin: 100px;
    border:50px;
}
#content{
    text-align: center;
    padding: 50px;
    margin: 5px;
    border: 10px;
}
.row {
 display: flex;
  }
  
  .column {
    flex: 500%;
    padding: 50px;
  }
.content{
  width:100%;
  position:absolute;
  top:50%;
  transform:traslateY(-50%);
  text-align:center;
  color:#fff;
  }
  .content h1{
  font-size:70px;
  margin-top:80px;
  }
  .content p{
  margin:20px auto;
  font-weight:100;
  line-height:25px;
  }
  button{
  width:200px;
  padding:15px 0;
  text-align:center;
  margin:20px 10px;
  border-radius:25px;
  font-weight:bold;
  border:2px solid  darkgoldenrod;
  background:transparent;
  color:#fff;
  cursor:pointer;
  position:relative;
  overflow:hidden;
  
  }
  span{
  background:darkgoldenrod;
  height:100%;
  width:0;
  border-radius:25px;
  position:absolute;
  left:0;
  bottom:0;
  z-index:-1;
  transition:0.5s;
  }
  button:hover span{
  width:100%;
  }
  button:hover{
  border:none;
  }
  
  .copy{
    padding: 50px;
    margin:5px;
    border:10px;
    background-color:darkgoldenrod;
    text-align: center;
    color: #fff;
    
  }
  .copy b a{
    margin-bottom: auto;
    bottom:-10;
    padding: 10px;
    border: 10px;
    color:#fff;
  }
  .bgd{
    background-color: darkgoldenrod;
    background-size: cover;
    height: 120vh;
    /*background: transparent;*/
  }
  #navbar a{
    width: 85%;
    height: auto;
    margin: 5px;
    padding: 50px;
    border: 50px;
    align-items: center;
    text-align: center;
    color:#000;
    position:relative;
    font-size: 25px;
  }
  .navigates{
    font-size: 30px;
    color:#000;
    font-weight: 100%;
    text-align: center;
    margin-left: 80px;
    padding: 50px;
    border: 50px;
  }
  .navigates h1{
    padding: 20px;
    border: 5px;
    margin: 10px;
  }